@use "../../styles/partials/mixins" as *;
@use '../../styles/partials/variables' as *;

.task__datetime {
    font-family: "Wotfard";
}

.custom-form {
    @apply h-auto flex flex-col gap-2;
    min-width: 18.75rem;
    width: 10rem;

    @include tablet {
        @apply flex flex-row;
        width: auto;
    }
}

.save-icon{
    filter: var(--filter-save-effect);
}

.react-datetime-picker__inputGroup{
    min-width: 0 !important;
    border: none;
}

.MuiInputBase-input{
    padding: 0.65rem !important;
}

.custom-check{
    border: 2px solid var(--text-color) !important;
    border-radius: 2px;
}

.custom-button {
    background-color: var(--button-color);
    color: var(--text-color);

    &:hover{
        background-color: var(--button-color-hover);
    }
}

.css-lc42l8-MuiInputBase-input-MuiOutlinedInput-input {
    display: none !important;
}

.react-datetime-picker__wrapper {
    border: 0px !important;
    border: none !important;
    outline: none !important;
    width: 1px !important;
    margin: none !important;
}

.MuiButtonBase-root{
    padding: 0.5rem 0.5rem 0.5rem 0 !important;
}
