@use "../../styles/partials/mixins" as *;
@use '../../styles/partials/variables' as *;

.task__datetime {
    font-family: "Wotfard";
}

.custom-form {
    @apply h-auto flex flex-col gap-2;
    min-width: 18.75rem;
    width: 10rem;

    @include tablet {
        @apply flex flex-row;
        width: auto;
    }
}

.save-icon{
    filter: var(--filter-save-effect);
}

.react-datetime-picker__inputGroup{
    min-width: 0 !important;
    border: none;
}

.MuiInputBase-input{
    padding: 0.65rem !important;
}

.custom-check{
    border: 2px solid var(--text-color) !important;
    border-radius: 2px;
}
