
html {
    font-family: "Wotfard";
    color: var(--text-color);
}

input{
    border: none;
    border-radius: .25rem;

    &:hover{
        background-color: var(--aside-button-color);
        border-radius: .25rem;
    }

    &:active{
        border: none ;
        outline: none;
        box-shadow: none;
    }
    &:focus{
        outline: none  !important;
        box-shadow: none !important;
        border-radius: .25rem;
        background-color: var(--form-background);
    }
}
input[type='checkbox']{
    accent-color: var(--button-color);
    border-radius: 0.5rem;
    margin-left: 1rem;
    border-color: var(--line-color);

    &:hover{
        width: 1rem;
        background-color: var(--aside-button-color);
    }
}

form{
    &:active{
        border: none;
        outline: none;
    }
    &:focus{
        border: none;
        outline: none;
    }
}

.icon {
    filter: var(--filter-effect);
    margin: 0 0.5rem;
}

.animation-up {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;

    &:hover{
        transform: translateY(-0.5rem);
    }
}
