@use "../../styles/partials/mixins" as *;
@use '../../styles/partials/variables' as *;

.custom-aside{
    @include tablet {
        @apply flex ;
    }
    &__button{
        padding: .5rem 1rem;
        border-radius: 8px;
        cursor: pointer;
        &:hover{
            background-color: var(--aside-button-color);
        }
        &--active{
            background-color: var(--aside-button-color);
        }
    }
}

.complete-btn {
    background-color: var(--complete-color);
}
