@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.delete-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    padding: 2rem 1.5rem;

    @include tablet{
        height: 50%;
        width: 50%;
        border: 0.1rem solid var(--line-color);
        border-radius: .5rem;
    }

    &:focus{
        box-shadow: none;
        outline: none;
    }


    &__cancel-btn{
        &:hover{
            color: $primary-light-color;
            background-color: var(--button-color-hover);
        }
    }

    &__delete-btn{
        color: $primary-light-color;
        background-color: var(--delete-color);

        &:hover{
            background-color: var(--delete-color-hover);
        }
    }
}

.delete-item__overlay {
    position: fixed;
    inset: 0px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;

}

.ReactModal__Overlay{
    z-index: 10;
}

.btn{
    width: 43vw;
    height: 2.6rem;
    border-radius: 1.5rem;
    border: 0.1rem solid var(--line-color);

    @include tablet{
        height: 2.375rem;
        width: 8rem;
        border: 0.1rem solid var(--line-color);
        border-radius: 1.25rem;
    }
}
