@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.personalize-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    padding: 2rem 1.5rem;
    position: relative;
    animation: slideFromLeft 0.5s ease-in-out;

    @include tablet {
        height: 100%;
        width: 28%;
        border: 0.1rem solid var(--line-color);
        border-radius: .5rem;
    }

    &__overlay {
        position: fixed;
        inset: 0px;
        top: 8rem;
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        @include tablet{
            top: 5rem;
        }
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }

}

@keyframes slideFromLeft{
    0%{
        left: -100%;
    }
    25%{
        left:-50%;
    }
    100%{
        left: 0;
    }
}

.dark-light-toggle{
    &__container{
        display: flex;
        justify-content: space-between;
        background-color: var(--button-color);
        padding: 0.5rem 1rem;
        border-radius: .5rem;
        color: var(--text-color);

        &--hide{
            display: none;
        }
    }
}

.personalize-btn{
    background-color: var(--personalize-button-color);
}
