@use "../../styles/partials/mixins" as *;
@use '../../styles/partials/variables' as *;
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; // if using DnD

.rbc-calendar{
    margin: 0 !important;
    font-size: .875rem;
    line-height: normal;

    @include tablet {
        margin: 2rem !important;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.rbc-event{
    margin-left: 0 !important;
}

.custom-calendar{

    height: 31.25rem;

    @include tablet{
        height: 37.5rem;
    }

    @include desktop {
        height: 43.75rem;
    }
}

button{
    padding: 0.5rem 0 !important;

    @include tablet{
        padding: 0.5rem !important;
    }
}
