@use "../../styles/partials/mixins" as *;
@use '../../styles/partials/variables' as *;
@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; // if using DnD

.rbc-calendar{
    margin: 0 !important;
    font-size: .875rem;
    line-height: normal;

    @include tablet {
        margin: 2rem !important;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
