@use "../../styles/partials/mixins" as *;
@use '../../styles/partials/variables' as *;

header {
    border-bottom: rgb(218, 220, 224) 1px solid;
    position: sticky;
    top: 0;
    background-color: $primary-light-color;
    z-index: 11;
}

.custom-header {
    @apply flex flex-col justify-center w-full ;
    align-items: center;

    @include tablet {
        @apply flex flex-row justify-between pl-1 pr-2;
    }

    &__active {
        filter: brightness(0) saturate(100%) invert(47%) sepia(38%) saturate(6799%) hue-rotate(185deg) brightness(103%) contrast(101%);
    }
}

.custom-shadow {
    &:hover{
        filter: drop-shadow(0 4mm .75rem var(--button-color))
    }
}
